$text-color: white;
$bg-color: #2d2d32;

aside{
    background-color: $bg-color;
    color: $text-color;
    padding: 20px;
    height: auto;

    h2{
        margin-top: 0;
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    p{
        font-size: 1em;
        line-height: 1.5;
        text-align: justify;
    }

    .location{
        margin-top: 50px;
        font-weight: bold;
    }
}