@use "../assets/styles/variables.scss" as variable;

.aside {
  padding: 1rem;
  background: variable.$bg-color-aside;
  color: variable.$text-color;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background: #dddddd85;
      }

      &.active {
        background: variable.$bg-color-card;
        color: white;
        font-weight: bold;
      }
    }
  }
}
