@use "../assets/styles/variables.scss" as variable;

.footer {
    background-color:  variable.$bg-color-aside;
    color: variable.$text-color;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;

    .icon {
        margin: 0 10px;
        size: 24px;
        color: white;
        text-decoration: none;

        &:hover {
            color: #6182fb;
        }
    }
}
