@use "../assets/styles/variables.scss" as variable;

.header {
    background-color: variable.$bg-color;
    padding: 20px;
    text-align: center;

    h1 {
        margin: 0;
        font-size: 2.5em;
        color: variable.$text-color;
    }

    .role {
        font-size: 1.2em;
        color: variable.$text-color;
        margin-top: 5px;
    }

    .status {
        color: variable.$text-color;
        font-style: italic;
    }
}
