$text-color: white;
$bg-color: #222326;

.header {
    background-color: $bg-color;
    padding: 20px;
    text-align: center;

    h1 {
        margin: 0;
        font-size: 2.5em;
        color: $text-color;
    }

    .role {
        font-size: 1.2em;
        color: $text-color;
        margin-top: 5px;
    }
}