@use "../assets/styles/variables.scss" as variable;

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header { 
    grid-area: 1 / 1 / 2 / 5; 
}

.aside { 
    grid-area: 2 / 1 / 8 / 2; 
}

.main-content { 
    grid-area: 2 / 2 / 8 / 5; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    color: variable.$text-color;
    margin-left: 1rem;

    h2 {
        
        border-bottom: 2px solid variable.$text-color;
        padding-bottom: 0.5rem;
    }
    .projects-section {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
}

.footer { 
    grid-area: 8 / 1 / 9 / 5; 
}
